<app-page-layout>
  <!-- <div class="container my-3">

    <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>

    <ng-container *ngIf="!storeService.isLoading()">
      <div class="text-center">
        Let's start the project!
      </div>
    </ng-container>

  </div> -->
    
  <div class="container home-bg">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card m-2">
          <div class="card-body">
            <div class="card-title h6"><span class="icon material-icons" aria-hidden="true">bar_chart</span>Account Analysis Chart View</div>
            <div class="row">
              <div class="col-md-12">
                <canvas
                  baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [type]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  aria-label="Account Analysis Bar Chart"
                  role="img"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 pl-0">
        <div class="card m-2">
          <div class="card-body">
            <div class="card-title h6"><span class="icon material-icons" aria-hidden="true">pie_chart</span>GL Summary</div>
            <div class="row">
              <div class="col-md-12">
                <div style="display: block;">
                  <canvas baseChart
                          [data]="doughnutChartData"
                          [options]="doughnutChartOptions"
                          [type]="doughnutChartType"
                          aria-label="GL Summary Doughnut Chart"
                          role="img">
                  </canvas>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="card m-2">
          <div class="card-body">
            <div class="card-title h6"><span class="icon material-icons" aria-hidden="true">table_chart</span>Account Analysis</div>
            <div class="row">
              <div class="col-md-12 small">
                <div class="table-responsive" role="region" aria-label="Backup Table Data">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Month</th>
                        <th scope="col">Input Data</th>
                        <th scope="col">Backup Table 1</th>
                        <th scope="col">Backup Table 2</th>
                        <th scope="col">Backup Table 3</th>
                        <th scope="col">Backup Table 3 <small>(Duplicate Column)</small></th>
                        <th scope="col">Backup Table 4</th>
                        <th scope="col">Clear Status</th>
                        <th scope="col">Out Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of backupTableData">
                        <td>{{ row.year }}</td>
                        <td>{{ row.month }}</td>
                        <td>{{ row.inputData }}</td>
                        <td>{{ row.backupTable1 }}</td>
                        <td>{{ row.backupTable2 }}</td>
                        <td>{{ row.backupTable3 }}</td>
                        <td>{{ row.backupTable3Duplicate }}</td>
                        <td>{{ row.backupTable4 }}</td>
                        <td>
                          {{ row.clearStatus.value }}
                          <button class="btn btn-link btn-sm p-0 ml-2" (click)="downloadStatusExcel(row.clearStatus.file)" aria-label="Download Clear Status Excel">
                            (download Excel)
                          </button>
                        </td>
                        <td>
                          {{ row.outStatus.value }}
                          <button class="btn btn-link btn-sm p-0 ml-2" (click)="downloadStatusExcel(row.outStatus.file)" aria-label="Download Out Status Excel">
                            (download Excel)
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</app-page-layout>
